NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.lq4xh.gcp.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
